#### Custom Kickstart 
####### Created by Farooq Ahmed
############ Updated on 11/11/2020

install
text
network --bootproto dhcp
url --url="https://pxe-server/centos/8/os/x86_64/"
repo --name="local" --baseurl="https://pxe-server/repo/centos/8/os/x86_64/"
lang en_GB.UTF-8
keyboard uk
zerombr
clearpart --all
bootloader --location mbr --append="net.ifnames=0 biosdevname=0"
timezone Europe/London
auth --enableshadow --passalgo=sha256
rootpw --iscrypted $5$9iwVtX9AeeN6VgMA$MXjzyVqyC5EsnmbtItFTp1D.6aEtqpScCRfhRWzIjz5
selinux --permissive
reboot
firewall --disabled
skipx
clearpart --all --initlabel
part swap --asprimary --fstype="swap" --size=2048
part /boot --fstype xfs --size=200
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow

%packages
@^minimal-environment
@core
net-tools
ipa-client
perl
wget
telnet

%end

%post --interpreter /bin/bash --log /root/ks-post.log.1
# Update host
/usr/bin/yum -y update

%end

%post --log /root/ks-rhn-post.log
# set default MOTD
echo "Kickstarted on $(date +'%d-%b-%Y')" >> /etc/motd

%end
